<!doctype html>
<html lang='en'>
	<head>
		<title>{{ title }}</title>
		<meta charset='utf-8' />
		<link rel='stylesheet' href='/css/layout.css' />
		<link rel='stylesheet' href='/css/hidden.css' />
	</head>
	<body>
		<nav>
			<!-- procedurally generated menu would go here -->
		</nav>		
		<main id='main-content'>
			{{{body}}}
		</main>
	</body>
</html>
